.hero.is-dark {
  background-color: $color-hero-is-dark;

  .hero-body {
    padding: 1.25rem 1.5rem 2.5rem;

    svg {
      color: $color-blue-highlight;
    }

    .container {
      > .subtitle {
        svg {
          font-size: 90%;
          margin-right: 0.6rem;
        }
      }

      hr {
        background-color: hsla(0,0%,100%,.2);
        height: 1px;
        margin: 0 auto 1.75em auto;
        width: 65%;
      }
    }

    .subtitle {
      color: #fff;
      font-size: 1.1em;

      &:first-of-type {
        margin-top: -0.025rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }

      @include centerStackedColumnContent {
        line-height: 1.6;
        font-size: 1.025em;
        &:not(:last-child) {
          margin-bottom: 0.65rem;
        }
      }
    }
  }

  .title {
    color: #fff;
    margin-bottom: 2.55rem;

    &.blog-title {
      font-size: 3em;
      font-family: Segoe Script;
      letter-spacing: 0.015em;
      padding-bottom: 1.5rem;
      margin: auto;

      @include renderMobileTitleText {
        font-size: 2em;
      }
    }
  }
}

.dashboard-content {
  padding-top: 2rem;
  padding-bottom: 2rem;

  code {
    background-color: rgba(97, 218, 251, 0.25);
    color: black;
  }

  hr {
    background-color: hsla(0,100%,0%,.125);
    margin: 0.5rem 0;
    height: 1px;
  }

  > .columns {
    > .column {
      padding: 2rem !important;

      > .title {
        color: #6d6d6d;
        font-weight: 600;
      }
    }

    @media (min-width: 769px) {
      > hr {
        display: none;
      }
    }
  }
}
