.title {
  color: $color-hero-is-dark;
  font-weight: 700;

  @include renderTabletTitleText {
    font-size: 1.75em;
  }

  @include renderMobileTitleText {
    font-size: 1.5em;
  }
}

code {
  background-color: #444850;
  color: $color-blue-highlight;
  padding: 0.15em 0.45em 0.15em;
  border-radius: 0.3em;
  font-size: 90%;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
}

.view-wrapper {
  min-height: 875px;
  padding-top: $navbar-height;
}

.is-155x155 {
  height: 155px;
  width: 155px;
}

.subtitle {
  color: $color-hero-is-dark;
  font-size: 1.6em;
  letter-spacing: 0.01em;

  &.is-tile-subtitle {
    font-size: 1.25em;
    margin-bottom: 0.55rem;
    > strong {
      font-weight: 900;
    }
  }

  @include renderTabletTitleText {
    font-size: 1.35em;
    &.is-tile-subtitle {
      font-size: 1.125em;
    }
  }

  @include renderMobileTitleText {
    font-size: 1.125em;
    &.is-tile-subtitle {
      font-size: 1em;
    }
  }
}

.is-horizontal-center {
  align-items: center;
  justify-content: center;
}