.title {
  color: $color-hero-is-dark;
  font-weight: 700;

  @include renderTabletTitleText {
    font-size: 1.75em;
  }

  @include renderMobileTitleText {
    font-size: 1.5em;
  }
}

code {
  background-color: #444850;
  color: $color-blue-highlight;
  padding: 0.15em 0.45em 0.15em;
  border-radius: 0.3em;
  font-size: 90%;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
}

.view-wrapper {
  padding-top: $navbar-height;
}

.react-svg {
  height: 88% !important;
  width: 88% !important;
}

.is-158x158 {
  height: 158px;
  width: 158px;
}

.subtitle {
  color: $color-hero-is-dark;
  font-size: 1.6em;
  letter-spacing: 0.01em;

  &.is-tile-subtitle {
    font-size: 1.25em;
    margin-bottom: 0.55rem;
    > strong {
      font-weight: 900;
    }
  }

  @include renderTabletTitleText {
    font-size: 1.35em;
    &.is-tile-subtitle {
      font-size: 1.125em;
    }
  }

  @include renderMobileTitleText {
    font-size: 1.125em;
    &.is-tile-subtitle {
      font-size: 1em;
    }
  }
}

.is-horizontal-center {
  align-items: center;
  justify-content: center;
}

.is-notification-tile {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem !important;
  padding-bottom: 42rem !important;

  &.is-not-found-tile {
    padding-top: 15rem !important;
    padding-bottom: 20rem !important;
  }

  .notification {
    color: #fff;
    text-align: center;
    padding: 1.75rem .25rem;
    box-shadow: 0 2px 15px 0 rgba(18,16,19,.2);

    &.is-primary {
      background-color: #54CDEE;
    }

    &.is-danger {
      background-color: #E93E60;
    }

    &.hide {
      visibility: hidden;
    }

    /* IE fix for min-heigh on tiles */
    @include browserIsIE {
      min-height: 115px;
    }

    .title {
      font-size: 2em;
      font-weight: 700;
      margin-left: 0.75rem;
    }

    .subtitle {
      font-size: 1.6em;
      margin-top: 0.25rem;
    }

    @include renderMobileTitleText {
      svg {
        vertical-align: -0.225em;
      }

      .title {
        font-size: 1.5em;
      }

      .subtitle {
        font-size: 1.05em;
      }
    }
  }
}