$color-hero-is-dark: #282c34;
$color-nav-bar: #20232a;
$color-blue-highlight: #61dafb;

@mixin removeNavBarPadding {
    @media (max-width: 1099px) {
        @content;
    }
}

@mixin reduceNavBarPadding {
    @media (max-width: 1472px) and (min-width: 1100px) {
        @content;
    }
}

@mixin renderMobileTitleText {
    @media (max-width: 449px) {
        @content;
    }
}

@mixin renderTabletTitleText {
    @media (max-width: 769px) and (min-width: 450px) {
        @content;
    }
}

@mixin renderTabletNavView {
    @media (max-width: 950px) and (min-width: 600px) {
        @content;
    }
}

@mixin renderMobileNavView {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin centerStackedColumnContent {
    @media (max-width: 769px) {
        @content;
    }
}